# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios
/android
.kotlin/

# Metro
.metro-health-check*

# Environment files
.env
.env.local
.env.*.local
.env.*
!.env.example

# Build and cache
coverage/
.cache/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local artifacts
app-example
*.orig.*

# OS and editor
.DS_Store
Thumbs.db
.vscode/

# Certificates and keys
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
